<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.title}}</ion-title>
  </ion-navbar>
  <ion-searchbar></ion-searchbar>
</ion-header>
<ion-content>
  <ion-grid>
    <h3 text-center *ngIf="selectedItem">
      <img src="{{selectedItem.image}}" style="width:75%">
    </h3>
    <ion-row>
      <ion-col col-10>
        <h3> Ingredients:</h3>
        <p *ngFor="let ingredient of selectedItem.extendedIngredients">
          - {{ingredient.amount}} {{ingredient.unit}} of {{ingredient.name}}
        </p>
        <h3>
          Preparation:
        </h3>
        <p *ngFor="let step of selectedItem.analyzedInstructions[0].steps">
          {{step.step}}
        </p>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-list inset>
      <ion-item-divider color="light">
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-5>
            <button ion-button icon-start round small item-start> 
                <ion-icon name="md-thumbs-up"></ion-icon>
                  {{selectedItem.aggregateLikes}}
            </button>
          </ion-col>
  
          <ion-col col-5>
              <button *ngIf="!isFav()"large ion-button icon-start item-end round small (click)="addFavorita(selectedItem.id, selectedItem.title)">
               <ion-icon name="md-add-circle"></ion-icon> Fav This
              </button>
              <button *ngIf="isFav()"large ion-button icon-start item-end round small color="secondary">
                  <ion-icon name="checkmark-circle"></ion-icon> Faved
                 </button>

            </ion-col>

          <ion-col col-1></ion-col>
        </ion-row>
      </ion-item-divider>
    </ion-list>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-navbar>
    <button ion-button (click)="presentPopover($event)" float-right clear>
      <ion-icon name="ios-mic"></ion-icon>
    </button>
    <button ion-button (click)="presentMartha()" float-right clear>
      <ion-icon name="md-chatboxes"></ion-icon>
    </button>
  </ion-navbar>
</ion-footer>