<ion-header>
    <ion-navbar (click)="close()">
        <button ion-button clear>
            Close
        </button>
        <ion-title text-center>
            Martha
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item ion-item *ngFor="let msg of messages" text-wrap>
            <ion-grid>
                <ion-row *ngIf="msg.user == 'user'" item-end>
                    <ion-col col-10>
                        <h3>
                            {{msg.message}}
                        </h3>
                    </ion-col>
                    <ion-col col-2>
                        <ion-avatar item-end>
                            <img src="assets/imgs/Profile.png">
                        </ion-avatar>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row *ngIf="msg.user == 'martha'" item-start>
                    <ion-col col-2>
                        <ion-avatar item-start>
                            <img src="assets/imgs/martha-avatar.png">
                        </ion-avatar>
                    </ion-col>
                    <ion-col col-10>
                        <h3>
                            {{msg.message}}
                        </h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer color="light">
    <ion-grid>
        <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-8>
                <ion-input type="text" placeholder="Escribe aqui"></ion-input>
            </ion-col>
            <ion-col col-1>
                <button ion-button clear>
                    <ion-icon name="md-send"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-1>
                <button ion-button clear>
                    <ion-icon name="ios-mic"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>