<ion-header>
    <ion-navbar (click)="close()">
        <button ion-button clear>
            Close me
        </button>
        <ion-title text-center>
          Martha 
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list no-lines>
        <ion-item text-wrap *ngFor="let m of messages" [ngClass]="{ 'user': m.user === 'martha','to':   m.user === 'user' }">
            <ion-avatar item-start>
                <img [src]="m.user === 'martha' ? 'https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Robot-512.png' : 'https://image.flaticon.com/icons/png/128/149/149071.png'">
            </ion-avatar>
            <h2>
                <strong>{{m.user}}</strong>
            </h2>
            <div class="message">{{m.message}}</div>
            <!--
            <ion-grid>
                <ion-row *ngIf="msg.user == 'user'" item-end>
                    <ion-col col-10>
                        <h3>
                            {{msg.message}}
                        </h3>
                    </ion-col>
                    <ion-col col-2>
                        <ion-avatar item-end>
                            <img src="https://image.flaticon.com/icons/png/128/149/149071.png">
                        </ion-avatar>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row *ngIf="msg.user == 'martha'" item-start>
                    <ion-col col-2>
                        <ion-avatar item-start>
                            <img src="assets/imgs/martha-avatar.png">
                        </ion-avatar>
                    </ion-col>
                    <ion-col col-10>
                        <h3>
                            {{msg.message}}
                        </h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        -->
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer color="light">
    <ion-grid>
        <ion-row>
           
            <ion-col col-8>
                <ion-input type="text" placeholder="Write here" [(ngModel)]="input" (keypress)="keyPressHandler($event.keyCode, input)"></ion-input>
            </ion-col>
            <ion-col col-1>
                <button ion-button clear (click)="sendMessage(this.input)">
                    <ion-icon name="md-send"></ion-icon>
                </button>
            </ion-col>
              <ion-col col-1>
                <button ion-button clear (click)="startListening()">
                    <ion-icon name="ios-mic"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-1>
                <button ion-button clear (click)="getPermission()">
                    <ion-icon name="logo-android"></ion-icon>
                </button>
            </ion-col>

            <button ion-button full (click)="getPermission()">Activate Listening</button>
            <button ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</button>

        </ion-row>

        
    </ion-grid>
    
</ion-footer>